*,
body,
.container {
    border: 0;
}

body,
.container {
    width: 100%;
}

.main {
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 50, .3);
}

.toast {
    color: grey;
    background-color: #fff;
    position: absolute;
    top: 1em;
    right: 1em;
}

header {
    width: 100%;
    background-color: #A593C2;
    color: #fff;
}

.header__logo {
    width: 3em;
}

.header__logo img {
    width: 100%;
}

.sansita {
    font-family: 'Sansita Swashed', cursive;
}

nav {
    padding-top: 2em;
}

.header__list li {
    display: inline-block;
    margin-left: 2em;
    text-decoration: none;
}

.letters .small {
    font-size: 1rem;
}

.letters .medium {
    font-size: 1.3rem;
}

.letters .large {
    font-size: 1.6rem;
}

.right {
    float: right;
    margin-top: 0.7em;
}

.right input,
.right button {
    border-radius: 5px;
}

.right button {
    background-color: #548C34;
    width: 2.1em;
    border: 4px solid #aaa;
    border-radius: 50%;
}

.right button img {
    color: #fff;
    width: 100%;
}

.shadow {
    -webkit-box-shadow: 2px 2px 11px 2px rgba(102, 102, 102, 0.51);
    -moz-box-shadow: 2px 2px 11px 2px rgba(102, 102, 102, 0.51);
    box-shadow: 2px 2px 11px 2px rgba(102, 102, 102, 0.51);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 25px;
}

.thumbnail {
    width: auto;
    height: 100px;
    cursor: pointer;
}

.mainrecipe {
    height: 600px;
    overflow: scroll;
}

.modal-content {
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}