*,
body,
.container {
    border: 0;
    margin: auto;
}

body,
.container {
    width: 100%;
}

header {
    width: 100%;
    background-color: #A593C2;
    color: #fff;
}

nav {
    padding-top: 2em;
}

.header__list li {
    display: inline-block;
    margin-left: 2em;
}