*,
body,
.container {
    border: 0;
}

body,
.container {
    width: 100%;
}

.main {
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 50, .3);
}

.toast {
    color: grey;
    background-color: #fff;
    position: absolute;
    top: 1em;
    left: 1em;
}

header {
    width: 100%;
    background-color: #A593C2;
    color: #fff;
}

.sansita {
    font-family: 'Sansita Swashed', cursive;
}

nav {
    padding-top: 2em;
}

.header__list li {
    display: inline-block;
    margin-left: 2em;
    text-decoration: none;
}

.shadow {
    -webkit-box-shadow: 2px 2px 11px 2px rgba(102, 102, 102, 0.51);
    -moz-box-shadow: 2px 2px 11px 2px rgba(102, 102, 102, 0.51);
    box-shadow: 2px 2px 11px 2px rgba(102, 102, 102, 0.51);
}